name: Renovate config validate

on:
    pull_request:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6

            -   name: Cache node_modules
                uses: actions/cache@v4
                env:
                    cache-name: cache-node_modules
                with:
                    path: node_modules
                    key: test-${{ env.cache-name }}-${{ hashFiles('package-lock.json') }}
                    restore-keys: |
                        test-${{ env.cache-name }}-
                        test-

            -   uses: actions/setup-node@v6

            -   run: npm install

            -   name: Validate renovate config
                run: |
                    find \
                        . \
                        -maxdepth 1 \
                        -type f \
                        -name "*.json" \
                        -not -name package.json \
                        -not -name package-lock.json \
                        -exec basename {} \; | \
                    sort | \
                    xargs npx renovate-config-validator --strict
